site_name: Project Documentation
site_url: https://toxicoder.github.io/devset/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand

docs_dir: docs

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
